name: Build and Deploy to OpenShift Custom

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin' 
        java-version: '17'

    - name: Setup Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: 3.8.2
        
    - name: Build the application with Maven
      run: mvn clean package -DskipTests
      
    # - name: Upload target directory
    #   uses: actions/upload-artifact@v4
    #   with: 
    #     name: target-artifact
    #     path: target/*.jar
        
  documentation:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      
      - name: Dokka with Maven
        run: mvn -B dokka:dokka
        
      # - name: Archive KDoc Documentation
      #   uses: actions/upload-artifact@v4.4.2
      #   with:
      #     name: KDoc Documentation Site
      #     path: target/dokka

          
  test:
    name: Automated Testing
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
          
      - name: PWD Test dir
        run: |
          echo "Current Directory:"
          pwd
          echo "Files:"
          ls -R
          
      - name: Run Tests
        run: mvn test

      - name: PWD Test dir after
        run: |
          echo "Current Directory:"
          pwd
          echo "Files:"
          ls -R

  coverage:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      
      - name: jacoco report creation
        run: mvn test jacoco:report

      - name: Archive jacoco report
        uses: actions/upload-artifact@v4.4.2
        with:
          name: jacoco-report
          path: target/site/
      
      - uses: PavanMudigonda/jacoco-reporter@v5.0
        with:
          coverage_results_path: target/site/jacoco.xml
          coverage_report_name: Coverage
          coverage_report_title: JaCoCo
          minimum_coverage: 20
          fail_below_threshold: true

  
  security-scan:
    name: Dependency OWASP Vulnerability SCAN
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Run OWASP Checks
        run: mvn org.owasp:dependency-check-maven:check

  linter-check:
    name: Style Check
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: action/checkout@v4
    
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: PWD DEBUG
        run: |
          echo "Current Directory:"
          pwd
          echo "Files:"
          ls -R

      - name: Run spotless check
        run: mvn spotless:check

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: owasp-report
          path: target/owasp-report
      
  deploy:
    name: Deploy to OpenShift
    needs: test
    runs-on: ubuntu-latest

    steps:

    # - name: Download build artifact
    #   uses: actions/download-artifact@v4
    #   with:
    #     name: target-artifact
    #     path: target/

    - name: OpenShift Client Installer
      uses: redhat-actions/oc-installer@v1.2
          
    - name: Log in to OpenShift
      env:
        OPENSHIFT_API_URL: ${{ secrets.OPENSHIFT_API_URL }}
        OPENSHIFT_TOKEN: ${{ secrets.OPENSHIFT_TOKEN }}
      run: |
        oc login $OPENSHIFT_API_URL --token=$OPENSHIFT_TOKEN --insecure-skip-tls-verify=true
    - name: Set project to msc-agile-sem1-25-dberes
      run: |
        oc project msc-agile-sem1-25-dberes
        
    # - name: Build and deploy the app to OpenShift
    #   run: |
    #     # OpenShift setup uses Source-to-Image (S2I) 
    #     oc start-build health-tracker-rest --from-dir=target/ --follow

    - name: Build and deploy the app to OpenShift 
      run:  |
        oc start-build health-tracker-rest --follow
    
    - name: Check deployment status
      run: |
        oc rollout status deployment/health-tracker-rest
